# Xcode
.DS_Store
*/.DS_Store
*.swp
*~
.nosync
.tmp
profile
*.moved-aside
*.orig
*.rej
*.bk

# Build generated
build/
DerivedData/
Build/
**/build/
**/DerivedData/

# Swift
*.swiftpm
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcshareddata/swiftpm/Package.resolved
*.xcscheme
*.moved-aside
*.xcuserstate

# Swift Package Manager
.swift-version
Package.pins
Package.resolved
Packages/
.swiftlint.yml

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Checkouts
Carthage/Build
Cartfile.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment variable files
.env
*.env

# xccheckout
*.xccheckout


# Other specific folders and files you mentioned
.gitignore
.vscode/
.cursor/rules
.codebuddy/
.idea/
